* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box;  */
}

:root {
	--branding-bg: rgb(254, 236, 236);
	--branding-color: #6f3434;
}

i.icon-color {
	color: var(--branding-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
